body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.clock {
  color: rgba(255, 255, 255, 0.829);
}
.clock-present {
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 180px;
  font-weight: bolder;
  margin-bottom: -20px;
}
.clock-day {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.clock-date {
  display: flex;
  justify-content: center;
  align-items: center;
}
#greeting {
  display: flex;
  justify-content: center;
  text-align: center;
}
.askName input {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 0.1px solid rgb(134, 134, 134);
  background-color: rgba(255, 255, 255, 0.589);
  font-size: 20px;
  color: gray;
  padding-left: 15px;
  margin-bottom: 30px;
}

.showName {
  color: white;
  font-size: 25px;
  display: flex;
}
.showName button {
  background: none;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  position: relative;
  top: 20px;
}
.showName button:hover {
  background-color: rgba(241, 219, 219, 0.733);
}
.showName button:active {
  background-color: rgba(179, 59, 59, 0.733);
}
#todo-form {
  display: flex;
  justify-content: center;
}
#todo-form input {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: 0.1px solid rgb(153, 153, 153);
  background-color: rgba(255, 255, 255, 0.438);
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.askName input:focus,
#todo-form input:focus {
  background-color: rgba(124, 124, 124, 0.589);
  color: white;
  outline: none;
}

#todo-form input::placeholder,
.askName input::placeholder {
  color: rgb(255, 255, 255);
}
#lyrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80vw;
  bottom: 8px;
  color: white;
  left: 50%;
  margin-left: -40vw;
}
#lyrics span:first-child {
  font-size: 15px;
  text-align: center;
}
#lyrics span:last-child {
  font-size: 13px;
}
.bgImage-name {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.829);
}
#todo-list {
  color: white;
  width: 450px;
  height: 200px;
  list-style: none;
  overflow: hidden;
}
#todo-list button {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-right: 10px;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 30px;
  line-height: 22px;
  border: none;
}
#todo-list button:hover {
  color: rgb(76, 226, 139);
  cursor: pointer;
}
#todo-list:hover {
  overflow-y: scroll;
  background-color: rgba(202, 202, 202, 0.164);
  border-radius: 10px;
}
#todo-list:hover::-webkit-scrollbar {
  width: 10px;
}
#todo-list:hover::-webkit-scrollbar-thumb {
  background-color: #dadadac2;
  border-radius: 10px;
}
#todo-list:hover::-webkit-scrollbar-track {
  background-color: rgba(199, 199, 199, 0.486);
  border-radius: 10px;
}
.Btn-box button {
  font-size: 15px;
  font-weight: 800;
  color: white;
  background: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  padding: 3px 10px;
}
.Btn-box button:hover {
  background-color: rgba(129, 129, 129, 0.589);
}
.Btn-box button:active {
  background-color: rgba(211, 211, 211, 0.589);
  box-shadow: 0px 0px 3px rgb(255, 255, 255);
}
#weather {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.829);
}
.hidden {
  display: none;
}
